<%- include('./partials/header.ejs')%>
    <div class = "content">
    <h3>Welcome to a Center where you can find Covid-19 information.</h3> 
    <h4>Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.</h4>
    <p>Most people infected with the virus will experience mild to moderate respiratory illness and recover without requiring special treatment.<br>
         However, some will become seriously ill and require medical attention. Older people and those with underlying medical conditions like cardiovascular disease,<br>
          diabetes, chronic respiratory disease, or cancer are more likely to develop serious illness. Anyone can get sick with COVID-19 and become seriously ill or die at any age. 
    </p>

    <h4>COVID-19 affects different people in different ways. 
      Most infected people will develop mild to moderate illness and recover without hospitalization.</h4>

    <h4>Most common symptoms:</h4>
    <ul>
      <li>Fever</li>
      <li>Cough</li>
      <li>Tiredness</li>
      <li>Loss of taste or smell</li>
    </ul>

    <h4>Less common symptoms:</h4>
    <ul>
      <li>Sore throat</li>
      <li>Headache</li>
      <li>Aches and pains</li>
      <li>Diarrhea</li>
      <li>A rash on skin, or discolouration of fingers or toes</li>
      <li>Red or irritated eyes</li>
    </ul>

    <h4>Serious symptoms:</h4>
    <ul>
      <li>Difficulty breathing or shortness of breath</li>
      <li>Loss of speech or mobility, or confusion</li>
      <li>Chest pain</li>
    </ul>

    <h3>To prevent infection and to slow transmission of COVID-19, do the following: </h3>
    <ul>
      <li>Get vaccinated when a vaccine is available to you.</li>
      <li>Stay at least 1 metre apart from others, even if they don’t appear to be sick.</li>
      <li>Wear a properly fitted mask when physical distancing is not possible or when in poorly ventilated settings.</li>
      <li>Choose open, well-ventilated spaces over closed ones. Open a window if indoors.</li>
      <li>Wash your hands regularly with soap and water or clean them with alcohol-based hand rub.</li>
      <li>Cover your mouth and nose when coughing or sneezing.</li>
      <li>If you feel unwell, stay home and self-isolate until you recover.</p></li>
    </ul>

    <table class="table">
      <tr class="index">
        <th>Pfizer-BioNTech</th>
        <th>Moderna</th>
        <th>Johnson & Johnson’s Janssen</th>
      </tr>
      <tr class="index">
        <td>Ages Recommended:<br>
          5+ years old</td>
        <td>Ages Recommended:<br>
          18+ years old</td>
        <td>Ages Recommended:<br>
          18+ years</td>
      </tr>
      <tr class="index">
        <td>Primary Series:<br>
          2 doses<br>
          Given 3 weeks (21 days) apart</td>
        <td>Primary Series:<br>
          2 doses<br>
          Given 4 weeks (28 days) apart</td>
        <td>Primary Series:<br>
          1 dose</td>
      </tr>
      <tr class="index">
        <td>Fully Vaccinated:<br>
          2 weeks after 2nd dose</td>
        <td>Fully Vaccinated:<br>
          2 weeks after 2nd dose</td>
        <td>Fully Vaccinated:<br>
          2 weeks after 1st dose</td>
      </tr>
    </table>

    </div><br>
<%- include('./partials/footer.ejs')%>