<%- include('../partials/header.ejs')%>
    <div class = "content">
        <h3>About Covid-19</h3> 
        <p>Covid-19 has impacted our world a lot over the past couple of years and it's important to 
            the information out there so that people can be informed about Covid-19 and their vaccination
            options.
        </p>
        <p>Information taken from the <a href="https://www.who.int/">World Health Organization</a> and 
            <a href= "https://www.cdc.gov/">Centers for Disease Control and Prevention</a></p>
    </div>
<%- include('../partials/footer.ejs')%>