<%- include('../partials/header.ejs')%>
    <div class = "content">
        <h3>Contact Info</h3> 
        <p>Corporate Email: covid19Info@covidinfo.com</p>
        <p>For inquiries: mthom189@uncc.edu</p>
    </div>
<%- include('../partials/footer.ejs')%>